@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    width: 65%;
    padding: 10px;
    border-radius: 0.5rem;
    padding-left: 20px;
    min-width: 200px;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  a,
  .buttons {
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 50%;
    border-radius: 0.5rem;
    border: 1px solid #119da4;
    padding: 15px;
    text-align: center;
    min-width: 200px;
  }

  a:hover, .buttons:hover {
    border-color: white;
  }

  .tess::-webkit-scrollbar {
    width: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }

  .tess::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c1c1c1;
  }

  .tess::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
}
